# Debitron Machine Learning NoteBook / TopCoder

### Challenge asks us to maximise daily collected Amount_Due

##### Initially I wanted to see whether Bot will fail with the task or not given the balance from my model

### Requirements:
####      Python 2.7 
#### Sklearn 
#### Pandas
#### Pickle
#### Anaconda or Jupyter NoteBook for running this notebook



### I am going to use this notebook for exploratory purposes and serialise models depending on the results

### Serialised models are always found in the 'Serialised Model' and you could use them in production or validation

In [195]:
from __future__ import division

import sklearn

### get file paths for given project files



### make sure change below path style  according to system you are using

### I am running this code on windows so paths are written in that manner

In [232]:
file_path='C:/Users/papasani.mohan/Pictures/TopCoder/Debitron Challenge/Training Data/'

In [233]:
import pandas as pd

In [234]:
file_1 = file_path+'CompiledDDBs_Challenge_v3_2.xlsx'
file_2 = file_path+'DataDictionary_Challenge_v2.xlsx'

In [235]:
read_excel=pd.read_excel

In [236]:
file_=read_excel(file_1)

### Data Display

In [231]:
file_.head(7)
# file__.head(12)

,PRODUCT_ID,AMOUNT_DUE,SAVING_ACCOUNT,CLIENT_ID,BOT_JOB,DATE,DAYS_DUE,CREDIT_BALANCE,SAVING_BALANCE,PRODUCT_DESCRIPTION,...,balance51,balance52,balance53,balance54,balance55,balance56,balance57,balance58,balance59,balance60
0,4.991939e+07,1.019017e+05,5623831,349647.089431,1,43018,5,4.499204e+05,7.471732e+05,REESTRUC. IT. VDO. TASA FIJA,...,-1161221.0,-1037937.0,308179.0,287610.0,-518425.0,-1095370.0,1039822.0,304792.0,278647.0,1412020.0
1,1.552915e+07,1.743066e+06,0-0089568-2,425392.439024,0,42958,44,1.684754e+07,1.883251e+06,REESTRUC. IT. VDO. TASA FIJA,...,1033862.0,235346.0,-1451180.0,46820.0,-419336.0,-38204.0,-1230240.0,1267150.0,1180955.0,-624761.0
2,5.014717e+08,1.389400e+05,0-0141975-3,583469.642276,0,42972,10,4.162013e+06,4.453994e+05,CREDIAGIL,...,-615975.0,-716836.0,1174061.0,411650.0,-763612.0,470047.0,-205796.0,-76068.0,744420.0,1234591.0
3,6.471615e+07,1.248517e+05,0-0151651-8,741712.032520,0,42992,11,3.611734e+06,3.040092e+05,REESTRUC. IT. VDO. TASA FIJA,...,-1230425.0,-45796.0,-226799.0,-193076.0,-900839.0,961116.0,1179674.0,475245.0,-1123570.0,-1052933.0
4,6.496007e+07,3.893303e+04,0-0151711-5,109860.260163,1,43007,27,4.633981e+06,1.730275e+05,COMPRA CARTERA L INVERSION,...,934280.0,-1002239.0,-1105649.0,472895.0,505495.0,1143718.0,-1105477.0,558750.0,-755117.0,1181246.0
5,5.528525e+07,1.370670e+05,0-0159214-0,639805.495935,1,42992,15,3.655331e+06,3.017669e+05,PERSONAL TASA FIJA S.DESEMPLEO,...,-1324891.0,-703192.0,1174161.0,155235.0,-18322.0,692936.0,-1035196.0,-916300.0,43284.0,-437353.0
6,3.252760e+06,1.366626e+05,0-0179638-6,422237.666667,1,43026,6,2.261017e+06,6.952224e+05,PRESTANOMINA EXEMPLEADO,...,631126.0,-22566.0,-845566.0,-327020.0,247602.0,870647.0,-941419.0,690393.0,1477341.0,-130184.0

### Labelling the data

In [202]:
# map(type,file_['CLIENT_ID'])
file_['BOT_JOB']=[1 if u=='APPROVED' else 0 for u in file_['BOT_JOB'] ]

In [203]:

file__=read_excel(file_2)

In [204]:
file__.head(10)

,Columns,Consumer DDB,Description
0,PRODUCT_ID,X,Product unique ID (it might refer to a specifi...
1,AMOUNT_DUE,X,"Is the collectable amount, which is due by cus..."
2,SAVING_ACCOUNT,X,Is the account number from where Bot expect to...
3,CLIENT_ID,X,Customer unique ID
4,BOT_JOB,X,"Result of the job executed by JOB. ""Approved"":..."
5,DATE,X,Date of the DDB generated
6,DAYS_DUE,X,Days due at the date of DDB (DATE)
7,CREDIT_BALANCE,X,Total debt of the customer
8,SAVING_BALANCE,X,Balance in the Saving/Checking account at the ...
9,PRODUCT_DESCRIPTION,X,Is text description of the product (i.e. Name ...

In [205]:
def normalise(column_name,dataframe):
    normalized_df=(dataframe[column_name]-dataframe[column_name].min())/(dataframe[column_name].max()-dataframe[column_name].min())
    return normalized_df

##  Model_1

##### Seperate Columns  balance0,balance1, from file_ and load them ... into seperate dataframe

## Data ....

#### Take  desired columns from 'file_'  dataframe and combine them into a new 'df' dataframe

In [206]:
df=file_[['balance'+str(ind) for ind in xrange(60,0,-1)]+['SAVING_BALANCE']+['BOT_JOB']]

### Normalise DataFrame

#### I normalised dataframe so that algorithm runs smooth

#### below is z means normalisation

In [207]:
df1 = (df - df.mean())/df.std()

In [208]:
def display_df1():
    display(df1)

In [209]:
df2 = (df-df.min())/(df.max()-df.min())

In [210]:
# display(df2)

#### I split data set as 2:3 as a sample

In [211]:
train,test = df2[:20000],df2[20000:]

In [212]:
# train

### LogisticRegression

##### My belief is that with enough data u can predict well with Logistic Regression

### sklearn is a Machine Learning library  / module 

#### If you don't have sklearn module you can follow instructions from here
__[sklearn installation](http://scikit-learn.org/stable/install.html )__

In [213]:
from sklearn.linear_model import LogisticRegression

# from sklearn.linear_model import LinearRegression

from sklearn.naive_bayes import GaussianNB

#### below code  initiate LogisticRegression model

In [214]:

model=LogisticRegression()

model_2 = GaussianNB()

names =[column for column in  train.columns if column!='BOT_JOB']

#### Drop any nan values or missing values from dataFrame 

### below code elimantes any nan values in dataFrame

### all these functions are from sklearn library

In [215]:

train=train.dropna()

test = test.dropna()

In [216]:
def validate_nans():
    
    new_df = train.isnull()
    for b in new_df:
        i=0
        for a in new_df[b]:
            if a==True:
                print "gode save england",i,new_df[b].iloc[i],spare[b].iloc[i]
                pass
            i+=1

In [217]:
validate_nans()

### I now train the model with training data

In [218]:
print len(names)

print names
model.fit(train[names],train['BOT_JOB'])

model_2.fit(train[names],train['BOT_JOB'])

61
[u'balance60', u'balance59', u'balance58', u'balance57', u'balance56', u'balance55', u'balance54', u'balance53', u'balance52', u'balance51', u'balance50', u'balance49', u'balance48', u'balance47', u'balance46', u'balance45', u'balance44', u'balance43', u'balance42', u'balance41', u'balance40', u'balance39', u'balance38', u'balance37', u'balance36', u'balance35', u'balance34', u'balance33', u'balance32', u'balance31', u'balance30', u'balance29', u'balance28', u'balance27', u'balance26', u'balance25', u'balance24', u'balance23', u'balance22', u'balance21', u'balance20', u'balance19', u'balance18', u'balance17', u'balance16', u'balance15', u'balance14', u'balance13', u'balance12', u'balance11', u'balance10', u'balance9', u'balance8', u'balance7', u'balance6', u'balance5', u'balance4', u'balance3', u'balance2', u'balance1', u'SAVING_BALANCE']

GaussianNB(priors=None)

In [219]:
results=model.predict(test[names])
results_2 = model_2.predict(test[names])

In [220]:
verify=test['BOT_JOB']

### I wrote a my own accuracy function

In [221]:
def model_accuracy(results,verify):
    
#     global results,verify
    
    assert len(verify)==len(results)
    
    ans = list(results)
    
    verify = list(verify)
    
    s=[1 if verify[j]==ans[j] else 0 for j in xrange(len(verify))]
    
    return ((sum(s)+0.0)/len(verify))*100

print "accuracy of my current model is:".upper(),model_accuracy(results_2,verify)

ACCURACY OF MY CURRENT MODEL IS: 85.3327041057

### Lets serialise the data

In [222]:
import pickle

path= "C:/Users/papasani.mohan/Pictures/TopCoder/Debitron Challenge/Scripts/Serialised Models"

In [223]:
pickle.dump(model,open(path+"/LogRmodel_1","wb"))

### You could find serialised model for production in the  'Serialised Models' folder

### It's also  simple to load model from pickle library

In [224]:
ml=pickle.load(open(path+"/LogRmodel_1"))

In [225]:
ml.predict(test[names])

array([ 1.,  1.,  1., ...,  1.,  1.,  1.])

### Model_2  ...incomplete

#### _I am going to make some assumptions about the bank and customer for this model_

###### _first : customer is only going to take money from his account not any others during the 60 days ...ex: - bank_

###### second : he is going to withdraw   his money all at once from his account every day 

###### third : that he is going to withdraw at the same time .

##### Above assumtions are requirement to make below model to work

## Model Description

#### _calculate withdraw amounts from his bank account every day for last 60 days_

#### then predict that amount for BBD day.

### we are going to use that predicted  amount and account balance on bbd to assign priority for each person

In [109]:
display(file_.head())

,PRODUCT_ID,AMOUNT_DUE,SAVING_ACCOUNT,CLIENT_ID,BOT_JOB,DATE,DAYS_DUE,CREDIT_BALANCE,SAVING_BALANCE,PRODUCT_DESCRIPTION,...,balance51,balance52,balance53,balance54,balance55,balance56,balance57,balance58,balance59,balance60
0,4.991939e+07,1.019017e+05,5623831,349647.089431,1,43018,5,4.499204e+05,7.471732e+05,REESTRUC. IT. VDO. TASA FIJA,...,-1161221.0,-1037937.0,308179.0,287610.0,-518425.0,-1095370.0,1039822.0,304792.0,278647.0,1412020.0
1,1.552915e+07,1.743066e+06,0-0089568-2,425392.439024,0,42958,44,1.684754e+07,1.883251e+06,REESTRUC. IT. VDO. TASA FIJA,...,1033862.0,235346.0,-1451180.0,46820.0,-419336.0,-38204.0,-1230240.0,1267150.0,1180955.0,-624761.0
2,5.014717e+08,1.389400e+05,0-0141975-3,583469.642276,0,42972,10,4.162013e+06,4.453994e+05,CREDIAGIL,...,-615975.0,-716836.0,1174061.0,411650.0,-763612.0,470047.0,-205796.0,-76068.0,744420.0,1234591.0
3,6.471615e+07,1.248517e+05,0-0151651-8,741712.032520,0,42992,11,3.611734e+06,3.040092e+05,REESTRUC. IT. VDO. TASA FIJA,...,-1230425.0,-45796.0,-226799.0,-193076.0,-900839.0,961116.0,1179674.0,475245.0,-1123570.0,-1052933.0
4,6.496007e+07,3.893303e+04,0-0151711-5,109860.260163,1,43007,27,4.633981e+06,1.730275e+05,COMPRA CARTERA L INVERSION,...,934280.0,-1002239.0,-1105649.0,472895.0,505495.0,1143718.0,-1105477.0,558750.0,-755117.0,1181246.0

In [110]:
pred_var = pd.DataFrame(file_['SAVING_BALANCE'])

In [111]:
bank_df = pd.DataFrame()

In [112]:
index = 1

for day in xrange(60,1,-1):
    bank_df['day'+str(index)] = file_['balance'+str(day-1)]-file_['balance'+str(day)] 
    index+=1

In [113]:
bank_df['day60']=file_['SAVING_BALANCE']-file_['balance1']

In [115]:
bank_df=bank_df.dropna()

In [116]:
from sklearn.linear_model import LinearRegression

In [117]:
linear_model=LinearRegression()

In [118]:
days = ['day'+str(e) for e in xrange(1,60)]

In [125]:
bank_df['AMOUNT_DUE']=file_['AMOUNT_DUE']

In [126]:
train,test=bank_df[:20000],bank_df[20000:]

In [127]:
linear_model.fit(train[days],train['day60'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [128]:
results=linear_model.predict(test[days])

print results

[ 1780631.88982576  1175027.66260769  1719948.25935238 ...,
  -658033.50852631  1501597.83622637  -187521.27936301]

In [129]:
def ml_model_accuracy(results,verification):
    
    assert len(results)==len(verification)
    
    res = list(results)
    
    veri = list(verification)
    
    ree_ = []
    count_=0
    error = []
    import numpy
    for a1,a2 in zip(res,veri):
        error.append((a1-a2)**2)
        if a2!=0:
            z = (abs(a1-a2)+0.0)/a2
            ree_.append(z) 
        else:
            count_+=1
#     print count_,"count_"
    return sum(ree_)/len(ree_),numpy.mean(error)

In [145]:
ml_model_accuracy(results,test['day60'])

(0.31806173970189527, 11031226231636.732)

In [143]:
bank_df.head(5)

,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,...,day52,day53,day54,day55,day56,day57,day58,day59,day60,AMOUNT_DUE
0,-1133373.0,26145.0,735030.0,-2135192.0,576945.0,806035.0,20569.0,-1346116.0,-123284.0,2041178.0,...,2250800.0,-125549.0,-1895272.0,599768.0,1549013.0,246688.0,-1749275.0,146308.0,9.462532e+05,1.019017e+05
1,1805716.0,86195.0,-2497390.0,1192036.0,-381132.0,466156.0,-1498000.0,1686526.0,798516.0,-182297.0,...,94448.0,-87301.0,-278294.0,389116.0,-1993933.0,1726972.0,-56025.0,-814591.0,1.898289e+06,1.743066e+06
2,-490171.0,-820488.0,-129728.0,675843.0,-1233659.0,1175262.0,762411.0,-1890897.0,100861.0,903863.0,...,-533519.0,196602.0,-1728962.0,-551595.0,2873031.0,-515577.0,-448483.0,140469.0,-1.558956e+05,1.389400e+05
3,-70637.0,1598815.0,704429.0,-218558.0,-1861955.0,707763.0,-33723.0,181003.0,-1184629.0,93934.0,...,1566509.0,-46769.0,-631510.0,-1079396.0,1756527.0,-304439.0,-126413.0,-38829.0,-3.201768e+05,1.248517e+05
4,-1936363.0,1313867.0,-1664227.0,2249195.0,-638223.0,-32600.0,-1578544.0,103410.0,1936519.0,190973.0,...,-511776.0,288158.0,-60778.0,445844.0,-2440201.0,1354099.0,595820.0,529848.0,-8.227565e+05,3.893303e+04

In [156]:
bank_df['SAVING_BALANCE']=file_['SAVING_BALANCE']

# bank_df['AMOUNT_DUE']=file_['BOT_JOB']

bank_df['BOT_JOB']=file_['BOT_JOB']

In [157]:
# bank_df.head()

,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,...,day54,day55,day56,day57,day58,day59,day60,AMOUNT_DUE,SAVING_BALANCE,BOT_JOB
0,-1133373.0,26145.0,735030.0,-2135192.0,576945.0,806035.0,20569.0,-1346116.0,-123284.0,2041178.0,...,-1895272.0,599768.0,1549013.0,246688.0,-1749275.0,146308.0,9.462532e+05,1.019017e+05,7.471732e+05,1
1,1805716.0,86195.0,-2497390.0,1192036.0,-381132.0,466156.0,-1498000.0,1686526.0,798516.0,-182297.0,...,-278294.0,389116.0,-1993933.0,1726972.0,-56025.0,-814591.0,1.898289e+06,1.743066e+06,1.883251e+06,0
2,-490171.0,-820488.0,-129728.0,675843.0,-1233659.0,1175262.0,762411.0,-1890897.0,100861.0,903863.0,...,-1728962.0,-551595.0,2873031.0,-515577.0,-448483.0,140469.0,-1.558956e+05,1.389400e+05,4.453994e+05,0
3,-70637.0,1598815.0,704429.0,-218558.0,-1861955.0,707763.0,-33723.0,181003.0,-1184629.0,93934.0,...,-631510.0,-1079396.0,1756527.0,-304439.0,-126413.0,-38829.0,-3.201768e+05,1.248517e+05,3.040092e+05,0
4,-1936363.0,1313867.0,-1664227.0,2249195.0,-638223.0,-32600.0,-1578544.0,103410.0,1936519.0,190973.0,...,-60778.0,445844.0,-2440201.0,1354099.0,595820.0,529848.0,-8.227565e+05,3.893303e+04,1.730275e+05,1

In [159]:
bank_df['balance_change']=bank_df['SAVING_BALANCE']+bank_df['day60']

# bank_df['']

In [160]:
# bank_df.head()

,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,...,day55,day56,day57,day58,day59,day60,AMOUNT_DUE,SAVING_BALANCE,BOT_JOB,balance_change
0,-1133373.0,26145.0,735030.0,-2135192.0,576945.0,806035.0,20569.0,-1346116.0,-123284.0,2041178.0,...,599768.0,1549013.0,246688.0,-1749275.0,146308.0,9.462532e+05,1.019017e+05,7.471732e+05,1,1.693426e+06
1,1805716.0,86195.0,-2497390.0,1192036.0,-381132.0,466156.0,-1498000.0,1686526.0,798516.0,-182297.0,...,389116.0,-1993933.0,1726972.0,-56025.0,-814591.0,1.898289e+06,1.743066e+06,1.883251e+06,0,3.781539e+06
2,-490171.0,-820488.0,-129728.0,675843.0,-1233659.0,1175262.0,762411.0,-1890897.0,100861.0,903863.0,...,-551595.0,2873031.0,-515577.0,-448483.0,140469.0,-1.558956e+05,1.389400e+05,4.453994e+05,0,2.895039e+05
3,-70637.0,1598815.0,704429.0,-218558.0,-1861955.0,707763.0,-33723.0,181003.0,-1184629.0,93934.0,...,-1079396.0,1756527.0,-304439.0,-126413.0,-38829.0,-3.201768e+05,1.248517e+05,3.040092e+05,0,-1.616757e+04
4,-1936363.0,1313867.0,-1664227.0,2249195.0,-638223.0,-32600.0,-1578544.0,103410.0,1936519.0,190973.0,...,445844.0,-2440201.0,1354099.0,595820.0,529848.0,-8.227565e+05,3.893303e+04,1.730275e+05,1,-6.497290e+05